@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*nav bar*/

.navbar-nav > li{
    margin-left:15px;
    margin-right:15px;
  }
   .h1{
    background-color: transparent;
   } 
  .nav-link{
    font-size: 20px;
    /* font-weight: bolder; */
    

}
/* image */
.ma{
    background-image: url("image/12\ сайтов\ с\ темными\ обоями\ на\ рабочий\ стол-02.jpeg");
    
    height: 900px;
    background-size: cover; 
    
    
}
@media (max-width:760px) {
    .ma{
        min-height: 60vh;
    } 
    
 }
 .icon1 ul{
  display: flex;



 }
.icon1 ul li{
  list-style: none;
  margin: 0 15px;
  
  

}
.ul{
  margin-left: 10px;
}
.icon1 ul li .bx {
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: #000;
}
.icon1 ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #00FFEF;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.icon1 ul li a:hover{
  transform: translate(0,-10px);
}


/* back */
.nav-link:hover{
  
 background-color: #00FFEF;
 border-radius: 20px;
  

}

 body{
 background-color: black; 
 /* overflow: hidden; */
}
 .ir{
  padding-top: 150px;

}  
.ta{
  font-size: 20px;
  color: #00FFEF;
  font-weight: 500;

}
.tb{
  color: #fff;
  font-size: 50px;
  font-weight: 600;


}
.tc{
  color: #fff;
  font-weight: 200;
}
.btn{
  max-width: 200px;
  height: 59px;
  background-color:#00FFEF;
  border-radius: 30px;
  font-size:25px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.ooo{
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 50px;
   color:#00FFEF;
}
.p1{
  font-family:  'Poppins', sans-serif;

}


.icon a{
  /* color: #fff; */
  text-decoration: none;
  margin: 10px;
  
}
.e{
  margin-top: 40px;
}
/* skill section */


.uu{
  margin: 0 auto;
  width: 1000px;
}
.pm{
  width: 500px;
  
  position: relative;
  bottom: 10px;
  right: 0px;
  opacity: 0.7; 
  /* border: 3px solid #fff; */
  border-radius: 20PX;


  
  
}
.c{
  background-color: rgb(15, 15, 15);
  
}
.q{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
.r{
  width: 25rem;
  background-color: #021410;
  outline: 2px solid #00FFEF;
}

.r:hover{
  
  box-shadow:0 0 10px #fff,0 0 20px #000,0 0 30px #00FFEF;
}
.btn {
  width: 150px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: #00FFEF;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background: #315cfd;
  color: white;
  font-size: 1.5em;
}

.text{
  font-size: 30px;
  font-weight: 600;
  color:#00FFEF;
}
.text.first{
  color: #fff
}

.label-check {
  display: none;
}

.hamburger-label {
  width: 70px;
  height: 58px;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 70px;
  height: 6px;
  background-color: #fff;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 18px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 36px 0 0 0;
  transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked + .hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 45px;
}

 
.bb{
  color: #fff;
}
.bb:hover{
  color: #00FFEF;
}
.q{
  font-size: 30px;
}